@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}


html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
     overflow-x: hidden; 
     
}

a {
    text-decoration: none;
    
}

img {
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
    
}

.hidden-animation{
    opacity: 0;
    transition: all 1s;
    transform: translateX(-15%);
    
}

.show-animation{
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}

/* Seção de apresentação */

#presentation {
    background-image: url(assets/background.avif);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: -1;
}

#presentation nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#presentation nav ul {
    display: flex;
    font-size: 5rem;
    list-style: none;
    
}

#presentation nav ul li a {
    margin-right: 2rem;
    cursor: pointer;
    color: #FFD700;
    text-decoration: none;
    
}

#presentation nav #contac{
    display: none;
}

#presentation nav ul li a:hover {
    border-bottom:4px solid #FFD700;
    color: #FFF;
}

#presentation .hamburguer {
    display: none;
    margin-right: 15px;
    cursor: pointer;
    border: 3px solid #FFD700;
    border-radius: 2rem;
}

#presentation .hamburguer .line {
    width: 3rem;
    height: 4px;
    background-color: #FFD700;
    border-radius: 30px;
    transition: .5s ease-in-out;
    position: relative;
}

.line:nth-child(2) {
    margin: 5px 0;
}

.presentation-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: gold;
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation h1:nth-child(4) span {
    animation-delay: 3.5s;
}

#presentation h1:nth-child(5) span {
    animation-delay: 4.5s;
}
#presentation h1:nth-child(6) span {
    animation-delay: 5.5s;
}
#presentation h1:nth-child(7) span {
    animation-delay: 6.5s;
}
#presentation h1:nth-child(8) span {
    animation-delay: 7.5s;
}


#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation h1:nth-child(4) {

    animation-delay: 3.8s;
}

#presentation h1:nth-child(5) {

    animation-delay: 4.8s;
}
#presentation h1:nth-child(6) {

    animation-delay: 5.8s;
}
#presentation h1:nth-child(7) {
    animation-delay: 6.8s;
}
#presentation h1:nth-child(8) {
    animation-delay: 7.8s;
}

#presentation .links-projects-about-me{
    display: flex;
    
}


#presentation .cta {
    display: flex;
    justify-content: center;
    width: 180px;
    padding: 10px 0;
    color: #FFD700;
    overflow: hidden;
    position: relative;
    border: 3px solid #FFD700;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin:20px 10px;
    z-index: 1;
    

}

#presentation .cta:hover {
    color: #FFF;
    font-weight: 400;
}

#presentation .cta::before {
    content: "";
    background-color: #FFD700;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s all;
    z-index: -1;
}

#presentation .button1::before {
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);

}

#presentation .button1:hover::before {
    height: 350%;
    color: #FFF;
}

#presentation .contact {
    right: 10px;
    bottom: 30px;
    position: fixed;
}

#presentation .contact .fab {
    width: 50px;
    height: 55px;
    color: #FFD700;
    font-size: 5.5rem;
    cursor: pointer;
}

/* Seção de Projetos */



#projects{
    min-width: 100vw;
    min-height: 100vh;
}

.project-header .section-title {
    font-size: 4rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 100px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.all-projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap; 
    box-sizing: border-box;
    
}

.all-projects .project-item{
    position: relative;
    width: 32%;
    height: auto;
    background-color:#2d1159;
    margin-bottom: 50px; 
    border-radius: 30px;
    background-image: url(./assets/backgroundproject.avif);
}
.all-projects .project-item{
    margin-bottom: 135px;
    
}

.all-projects .project-item:nth-child(2){
    margin-left: 10px;
    margin-right: 10px;
    transition-delay: 100ms;
}
.all-projects .project-item:nth-child(3){
    transition-delay: 200ms;
}
.all-projects .project-item:nth-child(4){
    transition-delay: 300ms;
}
.all-projects .project-item:nth-child(5){
    margin-left: 10px;
    margin-right: 10px;
    transition-delay: 400ms;
}
.all-projects .project-item:nth-child(6){
    transition-delay: 500ms;
}


.all-projects .project-item .project-img-wrapper {
    position: relative;
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    top: -100px;
    text-align: center;
    margin: auto;
}

.all-projects .project-item .image1{
    background-image: url(assets/calculator-image.avif);
    background-position: center;
    background-size: cover;
}
.all-projects .project-item .image2{
    background-image: url(assets/fees-image.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.all-projects .project-item .imagecoming{
    background-image: url(assets/embreve.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.all-projects .project-item .title-project{
    position: relative;
    text-align: center;
    margin:auto;
    top:-80px;
}

.all-projects .project-item .title-project h2{
    font-size: 3.4rem;
    color: #FFD700;
}
.all-projects .project-item .description-project{
    width: 80%;
    height: 170px;
    position: relative;
    top:-60px;
    margin: auto;
    text-align: justify;
    word-wrap: break-word;
    
}

#about-me{
    width: 100vw;
    height: 50vh;
  }
  .about-me-header {
    position: relative;
    margin:auto;
    text-align: center;
  }

.all-projects .project-item .description-project p{
    font-size: 1.5rem;
    color: #FFF;
}

.all-projects .project-item .btn-project{
    position: relative;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    top: -30px;
}

.all-projects .project-item .btn-project button{
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid #FFD700;
    border-radius: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.all-projects .project-item .btn-project button:hover a{
    color:  #FFFF;
    
}

.all-projects .project-item .btn-project button a{
    color:#FFD700;

}

/* Keyframes */

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: gold;
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%
    }

}


/* Sessão de responsividade */


/* Media Query */
@media only screen and (max-width: 1100px) {
    .all-projects .project-item .project-img-wrapper {
      width: 200px;
      height: 200px;
    }
    .all-projects .project-item .title-project h2 {
      font-size: 2.5rem;
    }
  }
  
  /* Menu Hamburguer Mobile */
  @media only screen and (max-width: 950px) {
    body {
      overflow-x: hidden;
    }
  
    #presentation .hamburguer {
      display: block;
      z-index: 1000;
    }
  
    .check {
      display: block;
      padding: 1rem;
    }
    .check .line:nth-child(1) {
      top: 0;
      transform: rotate(0);
    }
    .check .line:nth-child(2) {
      top: 0;
      transform: rotate(0);
    }
    .check .line:nth-child(3) {
      top: 0;
      transform: rotate(0);
    }
  
    #toggle {
      display: none;
    }
  
    #toggle:checked + .check .line:nth-child(1) {
      transform: rotate(45deg);
      top: 9px;
    }
  
    #toggle:checked + .check .line:nth-child(2) {
      transform: translateX(-100px);
      width: 30px;
      visibility: hidden;
      opacity: 0;
    }
  
    #toggle:checked + .check .line:nth-child(3) {
      transform: rotate(-45deg);
      top: -9px;
    }
  
    #presentation nav .menu {
      list-style: none;
      text-decoration: none;
      position: absolute;
      width: 50vw;
      height: 100vh;
      background-color: #41156c;
      top: 0;
      right: 0;
      z-index: 1000;
      transform: translateX(1000px);
      transition: 0.5s ease-in-out all;
    }
    li.contacts {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li.contacts i {
      text-decoration: none;
      font-size: 80%;
      margin: 5rem 0.2rem;
      color: #ffd700;
      cursor: pointer;
    }
    li.contacts a {
      text-decoration: none;
    }
  
    #presentation nav .menu_toggle {
      transform: translateX(0);
    }
  
    #presentation .colorB {
      border: 4px solid #fff;
    }
  
    #presentation .hamburguer .check .color {
      color: #fff;
    }
  
    #presentation nav ul {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  
    #presentation nav ul li:nth-child(1) {
      margin-top: 40vh;
      margin-bottom: 40px;
    }
  
    #presentation nav ul li a {
      color: #fff;
    }
  
    .project-header .section-title {
      margin-bottom: 80px;
      margin-top: 5px;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-align: center;
    }
  
    #presentation .cta {
      display: flex;
      justify-content: center;
      width: 150px;
      padding: 10px 0;
      color: #FFD700;
      overflow: hidden;
      position: relative;
      border: 3px solid #FFD700;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
      margin:20px 10px;
      z-index: 1;
  
  }
  
  
  
    .all-projects {
      flex-direction: column;
      align-items: center;
    }
  
    .all-projects .project-item {
      width: 80vw;
      margin-left: 1px;
      margin-bottom: 100px;
    }
  
    .all-projects .project-item .project-img-wrapper {
      width: 180px;
      height: 180px;
      top: -80px;
    }
  }
  



